#header{
    font-family: 'Monoton', cursive;
}

#instructions{
    font-family: 'BenchNine', sans-serif;
}

/* #targerScore, #wins, #losses,currentScore{
    font-family: 'BenchNine', sans-serif;
    font-size: 30px;
} */